@inherits LayoutComponentBase
@inject Customization Customization;
<FluentLayout>
    <FluentHeader>
        <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">

            <FluentIcon Value="@(new Icons.Regular.Size32.Globe())" Slot="start" Color="Color.Neutral"/>
            @{
                var pageTitle = Customization.PageTitle;
            }
            @if (!string.IsNullOrWhiteSpace(pageTitle))
            {
                <div>DNS Query - @pageTitle</div>
            }
            else
            {
                <div>DNS Query</div>
            }
        </FluentStack>
        
    </FluentHeader>
    <FluentBodyContent Class="body-content">
        <div class="content">
            @Body
        </div>
    </FluentBodyContent>


    <FluentFooter>
        <div>@_version</div>
        <FluentSpacer/>
        <a href="https://github.com/miiitch/mpelabs.dnslookup" target="_blank">Project on github</a>
        <FluentSpacer/>

    </FluentFooter>
</FluentLayout>
<FluentDialogProvider/>
<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code
{
    private string _version;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _version = typeof(Program).Assembly.GetName().Version?.ToString(3)??"";
    }

}
